.navBar {
  text-align: left;
  background-color: #252525;
}

.navBar > a{
  text-decoration: none;
  color: white;
}

header{
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  background-color: #151515;
  color: white;
  padding-left: 1em;
}